<footer class="site-footer">

 <div class="footer">
 	<div class="container footer">
 	<br>
 		<div class="row">
	 		<div class="col-sm-4">
	 			<h3>&copy UBC Integrated Engineers</h3>
	 			<p>All rights reserved. Site built and maintained by students of IGEN. All media content used is in compliance with GNU licences or permitted copyright use.</p>
	 		</div>
	 		<div class="col-sm-offset-1 col-sm-4">
	 			<h3>IGEN Clubroom</h3>
	 			<p>Ground Floor <br>HR MacMillan Building (UBC) <br>2357 Main Mall<br>V6T 1Z4<br>Vancouver, BC<br>Canada </p>
	 		</div>
	 		<div class="col-sm-3 footer">
	 			<h3>Follow Us</h3>
	 			<p><a style="colour:white;" href="http://www.facebook.com/igenubc" target="_blank">Facebook</a><br><a href="http://www.twitter.com/ubcigen" target="_blank">Twitter</a><br><a href="http://www.github.com/ubcigen" target="_blank">GitHub</a><br><a href="mailto:site@integratedengineers.ca" target="_blank">Email</a> </p>
	 		</div>
	 	</div>
	 	<hr>
	 	<p> <a href="/">Home</a> | <a href="http://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU Licence</a> | <a href="http://www.ubc.ca" target="_blank">UBC</a> </p>
 	</div>
 </div>
 
</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
