<!-- <header class="site-header"> -->
<!-- Fixed navbar -->
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">UBC Integrated Engineers</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/news/">News</a></li> 
            <li class="dropdown">
              <a href="/about/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About IGEN <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/about/presidents-message/">President's Message</a></li>
                <li><a href="/about/your-council/">Your Council</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Current Students <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/current-students/course-listing/">Course Listing</a></li>
                <li><a href="/current-students/resources/">Resources</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/current-students/mentorship/">Mentorship Program</a></li>
                <li><a href="/current-students/facilities/">Facilities</a></li>
                <li><a href="/current-students/recreation/">Recreation</a></li>
                <li><a href="/current-students/student-life/">Student Life</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/current-students/get-involved/">Get Involved</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prospective Students <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/prospective-students/why-igen/">Why IGEN?</a></li>
                <li><a href="/prospective-students/events-calendar/">Events Calendar</a></li>
              </ul>
             </li>
             <li><a href="/alumni/">Alumni</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Industry<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/industry/get-connected">Get Connected</a></li>
                <li><a href="/industry/project-showcase">Project Showcase</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/industry/legacy-projects">Legacy Projects</a></li>
              </ul>
            </li> 
            <li><a href="/contact/">Contact</a></li> 
          </ul>
         </div><!--/.nav-collapse -->
    
      </div>
    </nav>
    
    <div class="container-fluid jumbotron">
    	<div class="container">
			 <h1>UBC Integrated Engineers Club</h1>
		  </div>	    
    </div>

<!-- </header> -->
